
.title{
    display: flex;
    max-width: 100%;
    align-items: flex-end;
    margin: 0 center;
    color: var(--gray);
    margin-top: 1rem;
}

.title__text {
    font-size: 1.6rem;
    text-align: center;
    font-weight: 550;
    align-self: flex-end;
    margin: 0;
    text-align: center;
    width: 100%;
}

.title__img {
    width: 2.5rem !important;
    height: 2.5rem;
}

@media (min-width: 992px) { 

    .title {
        margin: 0;
    }

}