.navBar {
    display: flex;
    flex-direction: column;
}

.navBar__content {
    background: var(--red);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    position: relative;
    position: relative;
    width: 100%;
    z-index: 1;
}


.navBar__logo {
    align-items: center;
    display: flex;
    margin: 0.3rem;
}

.navBar__logo h3{
    /* align-self: flex-end; */
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    margin: 0;
}

.navBar__logo img{
    height: 3rem;
    width: 3rem;
}

.navBar__list {
    background-color: var(--red);
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    height: 0;
}

.navBar__item {
    opacity: 0;
    visibility: hidden;
    margin: 0.5rem auto;
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--white);
}

.navBar__item:first-child {
    margin-top: 1rem;
}

.navBar__item:last-child {
    margin-bottom: 1rem;
}
.navBar__links--escritorio {
    display: none
}

.navBar__hamburguesa {
    align-self: center;
    font-size: 2.4rem;
    margin: 0.3rem 0.8rem;
    cursor: pointer;
}

.navBar__luces {
    position: relative;
    width: 100%;
}