/* header {
    
} */

.navBar {
    display: flex;
    flex-direction: column;
    position: unset;
    top: 0;
}

.navBar__content {
    background: var(--red);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    position: relative;
    position: relative;
    width: 100%;
    z-index: 1;
}


.navBar__logo {
    align-items: center;
    display: flex;
    margin: 0.3rem;
}

.navBar__logo a{
    color: var(--white);
    font-size: 1.3rem;
    letter-spacing: 0.05rem;
    margin: 0;
    text-decoration: none;
}

.navBar__logo img{
    height: 3rem;
    width: 3rem;
}

.navBar__list {
    background-color: var(--red);
    display: flex;
    flex-direction: column;
    height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}

.navBar__item {
    color: var(--white);
    font-size: 1.1rem;
    opacity: 0;
    padding: 0.6rem 0;
    text-align: center;
    text-decoration: none;
    visibility: hidden;
    width: 100%;
}

.navBar__item--active{
    color: var(--light-white);
    text-decoration: none;
}

.navBar__item:first-child {
    padding-top: 1rem;
}

.navBar__item:last-child {
    padding-bottom: 1rem;
}
.navBar__links--escritorio {
    display: none
}

.navBar__hamburguesa {
    align-self: center;
    cursor: pointer;
    font-size: 2.4rem;
    margin: 0.3rem 0.8rem;
}

.navBar__luces--escritorio {
    display: none;
    opacity: 0.9;
    top: -0.2rem;
}
.navBar__luces {
    position: relative;
    width: 100%;
}

@media (min-width: 992px) { 

    .navBar__luces {
        display: none;
    }
    
    .navBar__luces--escritorio {
        display: block;
    }
    
    .navBar__hamburguesa {
        display: none;
    }

    .navBar__links--escritorio {
        align-items: center;
        display: flex;
        justify-content: space-evenly;
        margin: 0 1.5rem 0 0;
        width: 45%;
    }
    
    .navBar__item--escritorio {
        color: var(--white);
        text-decoration: none;
        font-size: 1.05rem;
    }

    .navBar__logo {
        margin-left: 1.5rem;
    }
}