.footer {
    background-color: var(--red);
    margin: 2rem 0 0 0;
    max-width: 100%;
}

.footer__listas {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    padding: 1.5rem;
}

.footer__lista {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.footer__lista>* {
    color: var(--white);
    text-decoration: none;
    margin: 0.25rem 0;
}

.footer__derechos {
    width: 100%;
    text-align: center;
    color: var(--white);
    margin: 0;
    background-color: var(--dark-red);
    padding: 1.2rem 0;
}

.footer__botones {
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.footer__boton {
    color: var(--white);
    background-color: var(--red);
    padding: 0.5rem 0;
    font-size: 1rem;
}

.footer__boton i {
    font-size: 1.4rem;
}

.navLink__active {
    color: var(--light-white)
}

@media (min-width: 992px) {}