:root {
    --red: #B80523;
    --white: #dadada;
    --bg: #EAEAEA;
    --dark-red: #a50923;
    --gray: #424242;
    --light-white: #f3f3f3;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    background-color: var(--bg);
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
}

main {
    flex: 1;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;


}