:root {
    --red: #B80523;
    --white: #cccccc;
    --bg: #EAEAEA;
    --dark-red: #a50923;
    --gray: #424242;
    --light-white: #f7f7f7;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    background-color: var(--bg);
    box-sizing: border-box;
}